<!DOCTYPE html>
<html lang="en" ng-app="angularShift">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../dist/css/vendors.css" />
</head>
<body>
<div class="toastr-container" id="toast-container"></div>

<div class="panel panel-default" ng-app="angularShift">
    <div class="panel-heading">Shifts</div>
    <div class="panel-body">
        <div class="container" ui-view="content"></div>
    </div>
</div>

<script src="../dist/vendors.js" type="application/javascript"></script>
<script src="../dist/angular.shifts.js" type="application/javascript"></script>

</body>
</html>
